<footer class="page-footer blue lighten-1">
  <div class="footer-copyright black">
    <div class="container">
      <a href='http://www.theverge.com/tech' target="_blank">All articles belong to The Verge</a>
      <a class="blue-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>